@import url('https://fonts.googleapis.com/css2?family=Knewave&display=swap');

@import "tailwindcss";

@tailwind utilities;


body {
  font-family: 'Knewave', cursive;
}



/* Global Smooth Animation */
@layer base {
  * {
    @apply transition-all duration-300 ease-in-out;
  }

  body {
    @apply font-sans bg-[#333333] text-white;
  }

  input,
  textarea,
  select {
    @apply bg-white text-black rounded-md px-3 py-2;
  }

  button {
    @apply transition duration-300 ease-in-out;
  }
}

/* Custom Fade-in Animation */
@layer utilities {
  @keyframes fadeIn {
    0% {
      opacity: 0;
      transform: translateY(20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .fade-in {
    animation: fadeIn 0.5s ease-out forwards;
  }
}
